/*  Взято с http://vesna.yandex.ru/referats/ */

.link {
	text-decoration: none;
	-webkit-transition: color .15s ease-out;
	transition: color .15s ease-out;
}
.layout__left {
	display: inline-block;
	width: 210px;
	margin-right: 10px;
	vertical-align: top;
}
.layout__main {
	text-align: right;
	display: inline-block;
	
}
.logo {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: -6px;
	display: inline-block;
	width: 75px;
	text-align: center;
}

.logo__link {
	display: inline-block;
	height: 37px;
	width: 100%;
	background-image: url(../images/yandex-logo.png);
	background-repeat: no-repeat;
	
}

.i-font_face_textbook {
	font-family: 'textbook';
}
.arrow {
	display: block;
	padding: 2px;
	left: 12px;
	background: #ffca00;
	vertical-align: middle;
}
.arrow, .arrow__inner {
	position: relative;
	display: inline-block;
}

.arrow__inner {
	background: #ffdb4c;
	background-image: -webkit-gradient(linear,right top,left bottom,from(#ffdb4c),to(#fc0));
	background-image: -webkit-linear-gradient(top right,#ffdb4c,#fc0);
	background-image: linear-gradient(top right,#ffdb4c,#fc0);
	background: #fff;
	padding: 0 5px 0 0;
	width: auto;
	margin-right: 0;
}
.arrow__service {
	display: inline-block;
	padding: 0 11px;
	color: #000;
	font-size: 17px;
	line-height: 28px;
}
.arrow__corner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	width: 18px;
}
.arrow__inner .arrow__triangle {
	border-color: #ffca00;
	border-left-color: rgba(0,0,0,0);
}
.arrow__triangle {
	position: absolute;
	top: 50%;
	right: -1px;
	width: 0;
	height: 0;
	margin-top: -35px;
	-webkit-transform: rotate(360deg);
	border: solid #fff;
	border-width: 35px 1px 35px 18px;
	border-left-color: rgba(0,0,0,0);
	font: 0/0 a;
	-moz-border-end-style: dotted;
}
.arrow__service .link {
	color: inherit!important;
}

.button {
	cursor: pointer;
	border: 0;
	background: 0 0;
	padding: 5px 10px;
}

.button_theme_action {
	border-radius: 3px;
}
.button_theme_action {
	font-family: Arial,sans-serif;
	color: #000;
	border-radius: 3px;
}
.button_size_m {
	font-size: 15px;
}

.button_theme_action {
	border-radius: 2px;
	background: #ffdb4d;
	-webkit-box-shadow: 0 0 0 1px rgba(191,153,0,.8);
	box-shadow: 0 0 0 1px rgba(191,153,0,.8);
}
.button_theme_action:hover {
	background: #ffeca6;
}